In [1]:
# obtain raw assets
import os
os.system("dvc pull")

0

In [2]:
# initialize asset runner

import pandas as pd
from asset_runner import AssetRunner

runner = AssetRunner('../data/raw')

In [3]:
# process assets 
runner.process_assets()

--- Processing 4 assets ---
Name         File
-----------  ----------------------------
clubs        ../data/raw/clubs.json
leagues      ../data/raw/leagues.json
players      ../data/raw/players.json
appearances  ../data/raw/appearances.json

-> Processing clubs
       club_id          name domestic_competition league_id
count      241           241                  241       241
unique     241           241                   14        14
top       2381  rkc-waalwijk                  TR1       TR1
freq         1             1                   21        21
All 1 validations passed!

-> Processing leagues
       league_id          name confederation
count         14            14            14
unique        14            13             1
top           L1  premier-liga        europa
freq           1             2            14
All 1 validations passed!

-> Processing players
       player_id      name club_id  \
count       6730      6730    6730
unique      6724      6685     241
top        93720  paulinho    3999
freq           3         5      36

                                                      url
count                                                6730
unique                                               6724
top     https://www.transfermarkt.co.uk/alexandre-laca...
freq                                                    3
All 0 validations passed!

-> Processing appearances
              goals       assists  yellow_cards     red_cards  minutes_played  \
count  93322.000000  93322.000000  93322.000000  93322.000000    93322.000000
mean       0.089175      0.068580      0.139045      0.003793       67.140353
std        0.316360      0.270158      0.356280      0.061473       30.590256
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%        0.000000      0.000000      0.000000      0.000000       45.000000
50%        0.000000      0.000000      0.000000      0.000000       89.000000
75%        0.000000      0.000000      0.000000      0.000000       90.000000
max        5.000000      4.000000      2.000000      1.000000       90.000000

       home_club_id  away_club_id      player_id  player_club_id  \
count  93322.000000  93322.000000   93322.000000    93322.000000
mean    3962.046281   3903.778027  248831.915647     3867.161945
std     9643.550020   9516.673056  161587.599339     9449.557608
min        3.000000      3.000000    3333.000000        3.000000
25%      338.000000    347.000000  111961.000000      338.000000
50%      964.000000    969.000000  227805.000000      964.000000
75%     2727.000000   2727.000000  354362.000000     2727.000000
max    61825.000000  61825.000000  847759.000000    61825.000000

             game_id  appearance_id   season
count   93322.000000   93322.000000  93322.0
mean    50711.730632   60702.672875   2020.0
std     33985.265442   34109.895796      0.0
min         1.000000       1.000000   2020.0
25%     20058.000000   31176.250000   2020.0
50%     47350.000000   61188.500000   2020.0
75%     78772.000000   90172.750000   2020.0
max    117838.000000  118865.000000   2020.0
All 12 validations passed!

In [4]:
# list available assets
print(runner.prettify_asset_processors())

Name         File
-----------  ----------------------------
clubs        ../data/raw/clubs.json
leagues      ../data/raw/leagues.json
players      ../data/raw/players.json
appearances  ../data/raw/appearances.json

In [5]:
# get a reference to one asset
asset = runner.assets[0]
asset['name']

'clubs'

In [6]:
# get a reference to the pandas dataframes containing raw and prepared data
clubs = asset['processor']

raw = clubs.raw_df
prep = clubs.prep_df

prep.describe()

       club_id          name domestic_competition league_id
count      241           241                  241       241
unique     241           241                   14        14
top       2381  rkc-waalwijk                  TR1       TR1
freq         1             1                   21        21

In [7]:
normalized = clubs.checkpoints['json_normalized']
normalized['parent.href'].str.split('/', 5, True)[4]

0       L1
1       L1
2       L1
3       L1
4       L1
      ...
236    TR1
237    TR1
238    TR1
239    TR1
240    TR1
Name: 4, Length: 241, dtype: object

In [8]:
# quickly get a reference to the underlying asset dataframe
players = runner.get_asset_df('players')

,player_id,name,club_id,url
0,202591,benjamin-henrichs,23826,https://www.transfermarkt.co.uk/benjamin-henri...
1,238407,alexander-sorloth,23826,https://www.transfermarkt.co.uk/alexander-sorl...
2,344695,dayot-upamecano,23826,https://www.transfermarkt.co.uk/dayot-upamecan...
3,21726,philipp-tschauner,23826,https://www.transfermarkt.co.uk/philipp-tschau...
4,402008,amadou-haidara,23826,https://www.transfermarkt.co.uk/amadou-haidara...
...,...,...,...,...
6725,112062,junior-caicara,6890,https://www.transfermarkt.co.uk/junior-caicara...
6726,51894,mert-gunok,6890,https://www.transfermarkt.co.uk/mert-gunok/pro...
6727,110695,omer-ali-sahiner,6890,https://www.transfermarkt.co.uk/omer-ali-sahin...
6728,110708,fredrik-gulbrandsen,6890,https://www.transfermarkt.co.uk/fredrik-gulbra...
6729,282615,mete-kaan-demir,6890,https://www.transfermarkt.co.uk/mete-kaan-demi...

In [9]:


print(players.groupby(['player_id']).count().sort_values(by='name'))

players[players['player_id'] == '542586']

           name  club_id  url
player_id
10003         1        1    1
46252         1        1    1
462348        1        1    1
462329        1        1    1
462285        1        1    1
...         ...      ...  ...
50057         2        2    2
418560        2        2    2
344152        2        2    2
542586        2        2    2
93720         3        3    3

[6724 rows x 3 columns]

,player_id,name,club_id,url
3038,542586,illan-meslier,583,https://www.transfermarkt.co.uk/illan-meslier/...
4236,542586,illan-meslier,399,https://www.transfermarkt.co.uk/illan-meslier/...