In [1]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
# initialize the asset runner

import pandas as pd
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()

In [4]:
# load data using the "load_assets" method
td.load_assets()

In [5]:
# get a reference to one asset

players = td.assets["cur_players"]
print(players)

Asset(name=cur_players)

In [6]:
# get a reference to the pandas dataframes containing prepared data

clubs = td.assets["cur_clubs"]

prep = clubs.prep_df
prep.describe()

,club_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_seats,coach_name,last_season
count,411.000000,0.0,411.000000,373.000000,411.000000,365.000000,411.000000,411.00000,0.0,411.000000
mean,4879.778589,NaN,24.311436,25.671314,10.880779,45.259452,4.737226,24910.50365,NaN,2020.131387
std,10896.048965,NaN,8.781652,1.491989,6.553561,19.775330,4.950393,17606.42524,NaN,2.870755
min,3.000000,NaN,0.000000,20.900000,0.000000,2.400000,0.000000,1600.00000,NaN,2012.000000
25%,415.500000,NaN,24.000000,24.700000,6.000000,31.000000,0.000000,11775.00000,NaN,2019.000000
50%,1110.000000,NaN,27.000000,25.700000,12.000000,46.700000,3.000000,20250.00000,NaN,2022.000000
75%,3358.500000,NaN,29.000000,26.600000,16.000000,60.000000,7.500000,32925.50000,NaN,2022.000000
max,83678.000000,NaN,41.000000,29.500000,27.000000,100.000000,23.000000,99354.00000,NaN,2022.000000