In [4]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [5]:
# initialize the asset runner

import pandas as pd
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()

In [6]:
# kickoff processing. this will load and post-process the data
# after the processing, raw and prepared datasets are available as pandas dataframes

td.discover_assets()
# td.build_assets()

# skip the full rebuild and simply load the data using the "load_assets" method
td.load_assets()

In [4]:
# get a reference to one asset

base_players = td.assets["base_players"]
print(base_players)

Asset(name=base_players)

In [5]:
# get a reference to the pandas dataframes containing prepared data

base_clubs = td.assets["base_clubs"]

prep = base_clubs.prep_df
prep.describe()

,club_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_seats
count,410.000000,375.000000,410.000000,381.000000,410.000000,370.000000,410.000000,410.000000
mean,4724.343902,88.587893,25.243902,25.272178,11.156098,44.749730,4.802439,25135.148780
std,10443.186647,150.563884,8.059620,1.525145,6.594064,19.659289,4.904715,17798.865075
min,3.000000,1.100000,0.000000,20.000000,0.000000,3.600000,0.000000,0.000000
25%,415.250000,9.170000,25.000000,24.300000,6.000000,29.300000,1.000000,11912.250000
50%,1109.000000,25.740000,27.000000,25.300000,12.000000,46.000000,3.000000,20363.000000
75%,3345.750000,88.945000,29.000000,26.300000,16.000000,60.000000,7.000000,33000.000000
max,83678.000000,937.170000,40.000000,29.600000,29.000000,100.000000,20.000000,99354.000000

In [ ]:
# pull up the underlying raw data it into a dataframe with the "load_raw" method

base_clubs.load_raw()
base_clubs.raw_df

In [11]:
base_players = td.assets["base_players"]
base_players.load_from_stage()
base_players_df = base_players.prep_df

In [17]:
base_players_df[base_players_df["player_id"] == 683840].last_name.values

array(['Pedri'], dtype=object)