In [3]:
# obtain raw assets
import os
os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

In [4]:
# initialize asset runner

import pandas as pd
from prep.asset_runner import AssetRunner

runner = AssetRunner('data/raw')

In [5]:
# process assets 
runner.process_assets()

--- Processing 5 assets ---
Name         Path      Seasons
-----------  --------  ------------------------------------
games        data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
clubs        data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
players      data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
appearances  data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
leagues      data/raw  [2016, 2017, 2018, 2019, 2020, 2021]

-> Processing games
             season  home_club_goals  away_club_goals
count  19906.000000     19906.000000     19906.000000
mean    2017.987793         1.515674         1.199136
std        1.438761         1.303361         1.166833
min     2015.000000         0.000000         0.000000
25%     2017.000000         1.000000         0.000000
50%     2018.000000         1.000000         1.000000
75%     2019.000000         2.000000         2.000000
max     2021.000000        10.000000        13.000000
All 0 validations passed!

-> Processing clubs
       total_market_value  squad_size  average_age  foreigners_number  \
count          342.000000  351.000000   351.000000         351.000000
mean            99.236404   26.860399    24.830769          11.686610
std            168.758023    7.236842     4.285766           6.598166
min              1.260000    0.000000     0.000000           0.000000
25%              9.395000   24.000000    24.500000           7.000000
50%             24.290000   27.000000    25.400000          11.000000
75%            100.805000   31.000000    26.400000          16.000000
max            905.540000   53.000000    29.400000          37.000000

       foreigners_percentage  national_team_players  stadium_seats
count             333.000000             351.000000     351.000000
mean               43.596096               5.296296   26383.683761
std                18.193295               5.303687   18049.491510
min                 3.300000               0.000000       0.000000
25%                31.300000               1.000000   12325.000000
50%                43.500000               3.000000   21577.000000
75%                56.000000               8.000000   34807.500000
max               100.000000              23.000000   99354.000000
All 1 validations passed!

-> Processing players
       height_in_cm
count  18817.000000
mean     171.055216
std       44.303029
min        0.000000
25%      176.000000
50%      182.000000
75%      187.000000
max      206.000000
All 0 validations passed!

-> Processing appearances
               goals        assists  minutes_played   yellow_cards  \
count  556563.000000  556563.000000   556563.000000  556563.000000
mean        0.093842       0.071293       70.135613       0.150305
std         0.326530       0.276233       29.477219       0.368640
min         0.000000       0.000000        0.000000       0.000000
25%         0.000000       0.000000       57.000000       0.000000
50%         0.000000       0.000000       90.000000       0.000000
75%         0.000000       0.000000       90.000000       0.000000
max         5.000000       4.000000       90.000000       2.000000

           red_cards
count  556563.000000
mean        0.003597
std         0.059868
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
All 0 validations passed!

-> Processing leagues
       league_id          name confederation
count         14            14            14
unique        14            13             1
top          GB1  premier-liga        europa
freq           1             2            14
All 1 validations passed!

In [10]:
# list available assets
print(runner.prettify_asset_processors())

Name         Path      Seasons
-----------  --------  ------------------------------------
games        data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
clubs        data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
players      data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
appearances  data/raw  [2016, 2017, 2018, 2019, 2020, 2021]
leagues      data/raw  [2016, 2017, 2018, 2019, 2020, 2021]

In [34]:
# get a reference to one asset
asset = runner.assets[0]
asset['name']

'games'

In [35]:
# get a reference to the pandas dataframes containing raw and prepared data
clubs = asset['processor']

raw = clubs.raw_dfs
prep = clubs.prep_df

prep.describe()

             season  home_club_goals  away_club_goals
count  19906.000000     19906.000000     19906.000000
mean    2017.987793         1.515674         1.199136
std        1.438761         1.303361         1.166833
min     2015.000000         0.000000         0.000000
25%     2017.000000         1.000000         0.000000
50%     2018.000000         1.000000         1.000000
75%     2019.000000         2.000000         2.000000
max     2021.000000        10.000000        13.000000

In [7]:
normalized = clubs.checkpoints['json_normalized']
normalized['parent.href'].str.split('/', 5, True)[4]

0       L1
1       L1
2       L1
3       L1
4       L1
      ...
236    TR1
237    TR1
238    TR1
239    TR1
240    TR1
Name: 4, Length: 241, dtype: object

In [8]:
# quickly get a reference to the underlying asset dataframe
players = runner.get_asset_df('players')

,player_id,name,club_id,url
0,202591,benjamin-henrichs,23826,https://www.transfermarkt.co.uk/benjamin-henri...
1,238407,alexander-sorloth,23826,https://www.transfermarkt.co.uk/alexander-sorl...
2,344695,dayot-upamecano,23826,https://www.transfermarkt.co.uk/dayot-upamecan...
3,21726,philipp-tschauner,23826,https://www.transfermarkt.co.uk/philipp-tschau...
4,402008,amadou-haidara,23826,https://www.transfermarkt.co.uk/amadou-haidara...
...,...,...,...,...
6725,112062,junior-caicara,6890,https://www.transfermarkt.co.uk/junior-caicara...
6726,51894,mert-gunok,6890,https://www.transfermarkt.co.uk/mert-gunok/pro...
6727,110695,omer-ali-sahiner,6890,https://www.transfermarkt.co.uk/omer-ali-sahin...
6728,110708,fredrik-gulbrandsen,6890,https://www.transfermarkt.co.uk/fredrik-gulbra...
6729,282615,mete-kaan-demir,6890,https://www.transfermarkt.co.uk/mete-kaan-demi...