In [1]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets")
# when running from codespaces set the home directory as below instead
# home = os.path.expanduser("/workspaces/transfermarkt-datasets/")
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
# initialize the asset runner

import pandas as pd
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()

In [3]:
# load data using the "load_assets" method
td.load_assets()

In [4]:
# get a reference to one asset

players = td.assets["cur_players"]
print(players)

Asset(name=cur_players)

In [5]:
# get a reference to the pandas dataframes containing prepared data

clubs = td.assets["cur_clubs"]

prep = clubs.prep_df
prep.describe()

,club_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_seats,coach_name,last_season
count,426.000000,0.0,426.000000,388.000000,426.000000,379.000000,426.000000,426.000000,0.0,426.000000
mean,5314.525822,NaN,24.403756,25.704639,10.983568,45.227968,4.788732,24284.410798,NaN,2020.830986
std,11752.013818,NaN,8.817703,1.596598,6.726748,19.941673,5.083071,17132.848095,NaN,3.207283
min,3.000000,NaN,0.000000,18.300000,0.000000,2.400000,0.000000,0.000000,NaN,2012.000000
25%,421.000000,NaN,24.000000,24.700000,6.000000,30.800000,1.000000,11024.500000,NaN,2019.000000
50%,1139.500000,NaN,27.000000,25.700000,12.000000,46.700000,3.000000,20046.000000,NaN,2023.000000
75%,3415.750000,NaN,29.000000,26.900000,16.000000,58.000000,7.000000,32798.000000,NaN,2023.000000
max,83678.000000,NaN,41.000000,29.700000,31.000000,100.000000,22.000000,81365.000000,NaN,2023.000000