In [1]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
# initialize the asset runner

import pandas as pd
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()

In [ ]:
# kickoff processing. this will load and post-process the data
# after the processing, raw and prepared datasets are available as pandas dataframes

td.discover_assets()
td.build_assets()

In [ ]:
# get a reference to one asset

base_players = td.assets["base_players"]
print(base_players)

Asset(name=base_players)

In [ ]:
# get a reference to the pandas dataframes containing prepared data

base_clubs = td.assets["base_clubs"]

prep = base_clubs.prep_df
prep.describe()

,club_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_seats
count,401.000000,366.000000,401.000000,372.000000,401.000000,358.000000,401.000000,401.000000
mean,4532.593516,90.079536,24.862843,25.594624,10.935162,44.653631,4.960100,25389.269327
std,9734.152763,149.873819,8.111328,1.599603,6.609522,19.279460,5.135504,17745.910056
min,3.000000,1.100000,0.000000,20.000000,0.000000,3.800000,0.000000,0.000000
25%,410.000000,8.982500,24.000000,24.600000,6.000000,29.200000,1.000000,12060.000000
50%,1096.000000,25.740000,27.000000,25.650000,11.000000,44.800000,3.000000,20560.000000
75%,3349.000000,93.817500,29.000000,26.600000,16.000000,58.100000,8.000000,33150.000000
max,61825.000000,906.930000,40.000000,30.200000,29.000000,100.000000,22.000000,99354.000000

In [ ]:
base_clubs.load_raw()
base_clubs.raw_df