In [17]:
import pandas as pd
import datacompy

VALIDATIONS = {
    "players": {
        "joining_keys": ["player_id"]
    },
    "player_valuations": {
        "joining_keys": ["player_id", "date"]
    }
}

PROJECTPATH = "/Users/dcereijo/transfermarkt-datasets/"

OLDPATH = f"{PROJECTPATH}/data/prep"
NEWPATH = f"{PROJECTPATH}/data/prep_new"

def load_old(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{OLDPATH}/{asset_name}.csv"
    )

def load_new(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{NEWPATH}/{asset_name}.csv"
    )

def show_datacompy_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    comparison = datacompy.Compare(
        df1=old,
        df2=new,
        df1_name="pandas",
        df2_name="dbt",
        join_columns=VALIDATIONS[asset_name]["joining_keys"]
    )

    print(comparison.report(html_file=f"{PROJECTPATH}/notebooks/{asset_name}.html"))

def show_schema_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    print(set(old.columns.values) - set(new.columns.values))

In [18]:
show_datacompy_diff("player_valuations")

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    pandas        7  421564
1       dbt        5  405510

Column Summary
--------------

Number of columns in common: 5
Number of columns in pandas but not in dbt: 2
Number of columns in dbt but not in pandas: 0

Row Summary
-----------

Matched on: player_id, date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 404,447
Number of rows in pandas but not in dbt: 17,117
Number of rows in dbt but not in pandas: 1,063

Number of rows with some compared columns unequal: 128,964
Number of rows with all compared columns equal: 275,483

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 253,903

Columns with Unequal Values or Types
------------------------------------

                                Column pandas dtype dbt dtype  # Unequal   Max Diff  # Null Diff
0                      current_club_id        int64   float64     128954    68314.0       121891
1                  market_value_in_eur        int64     int64         32  5950000.0            0
2  player_club_domestic_competition_id       object    object     124917        0.0       121891

Sample Rows with Unequal Values
-------------------------------

        player_id        date  current_club_id (pandas)  current_club_id (dbt)
41472       44789  2010-04-07                    2578.0                    NaN
174798     612572  2020-10-06                   19771.0                    NaN
62543       36007  2012-09-21                     653.0                    NaN
42588      205393  2019-06-28                     969.0                    NaN
3755        38178  2009-02-23                    2292.0                    NaN
3331        44993  2009-01-05                    2323.0                    NaN
184912       6404  2014-01-08                     371.0                    NaN
160570       6871  2016-05-25                    2698.0                    NaN
5937        28124  2017-01-09                    1506.0                    NaN
105891      77920  2016-07-22                     105.0                   60.0

        player_id        date  market_value_in_eur (pandas)  market_value_in_eur (dbt)
96935       22165  2007-05-03                     4099999.0                  4100000.0
251806       4360  2007-04-25                    22800000.0                 22799999.0
251805       4360  2006-06-14                    25700000.0                 25700001.0
27223        9915  2012-06-19                     8199999.0                  8200000.0
18739       39087  2007-07-25                       50000.0                  6000000.0
99273       17273  2007-05-03                     4099999.0                  4100000.0
15894        3139  2007-06-24                    19800000.0                 19799999.0
85013       30687  2009-10-06                     4099999.0                  4100000.0
334810     204176  2022-03-31                     4099999.0                  4100000.0
297913     538994  2022-11-03                      350000.0                   300000.0

        player_id        date player_club_domestic_competition_id (pandas) player_club_domestic_competition_id (dbt)
90030       22519  2010-02-03                                          DK1                                       NaN
148623      29023  2010-03-04                                          SC1                                       NaN
24829       25036  2012-08-12                                          RU1                                       NaN
174328     396087  2021-03-01                                          IT1                                       NaN
50967       16095  2016-08-10                                          RU1                                       NaN
71519      127706  2018-01-03                                          PO1                                       NaN
215312      26276  2014-08-12                                          GB1                                       NaN
227936      33343  2015-01-07                                          BE1                                       NaN
1425        21060  2015-10-14                                           L1                                       NaN
76166      203345  2018-03-21                                          FR1                                       NaN

Sample Rows Only in pandas (First 10 Columns)
---------------------------------------------

              date    datetime    dateweek  player_id  current_club_id  market_value_in_eur player_club_domestic_competition_id
155604  2021-12-30  2021-12-30  2021-12-27     454187           1108.0              50000.0                                 ES1
160381  2017-11-24  2017-11-24  2017-11-20     289585           2410.0             150000.0                                 RU1
152335  2018-06-12  2018-06-12  2018-06-11     195546            468.0             600000.0                                 NL1
118788  2018-08-06  2018-08-06  2018-08-06     124352             41.0              75000.0                                  L1
108100  2011-07-02  2011-07-02  2011-06-27      52063           2079.0            1750000.0                                 GR1
108643  2016-07-21  2016-07-21  2016-07-18     121011           8838.0             100000.0                                UKR1
107215  2019-12-21  2019-12-21  2019-12-16      81959           3691.0             550000.0                                 RU1
161115  2018-07-15  2018-07-15  2018-07-09     258917             18.0             125000.0                                  L1
124238  2017-10-25  2017-10-25  2017-10-23     432121            968.0              50000.0                                 BE1
115689  2021-06-24  2021-06-24  2021-06-21     392514            458.0              75000.0                                 IT1

Sample Rows Only in dbt (First 10 Columns)
------------------------------------------

        player_id        date  market_value_in_eur  current_club_id player_club_domestic_competition_id
421799      35413  2023-03-28             300000.0            989.0                                 GB1
422557     114143  2023-04-03              50000.0             20.0                                 TR1
422409     167896  2023-02-05              75000.0           1038.0                                 IT1
422484     153634  2023-04-13             150000.0             86.0                                  L1
421810     114831  2023-01-23             225000.0           1083.0                                 RU1
422398     149655  2017-09-08             175000.0          68608.0                                 PO1
422476     120543  2010-03-28              50000.0              NaN                                 NaN
421862      45674  2023-03-30             150000.0            167.0                                  L1
422249      80435  2023-04-05             500000.0           1123.0                                 GB1
421906     375004  2023-02-24             350000.0            204.0                                 BE1

In [19]:
show_schema_diff("player_valuations")

{'dateweek', 'datetime'}