In [4]:
import pandas as pd
import datacompy

VALIDATIONS = {
    "players": {
        "joining_keys": ["player_id"]
    },
    "player_valuations": {
        "joining_keys": ["player_id", "date"]
    }
}

PROJECTPATH = "/Users/dcereijo/transfermarkt-datasets/"

OLDPATH = f"{PROJECTPATH}/data/prep"
NEWPATH = f"{PROJECTPATH}/data/prep_new"

def load_old(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{OLDPATH}/{asset_name}.csv"
    )

def load_new(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{NEWPATH}/{asset_name}.csv.gz"
    )

def show_datacompy_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    comparison = datacompy.Compare(
        df1=old,
        df2=new,
        df1_name="pandas",
        df2_name="dbt",
        join_columns=VALIDATIONS[asset_name]["joining_keys"]
    )

    print(comparison.report())

def show_schema_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    print(set(old.columns.values) - set(new.columns.values))

In [5]:
show_datacompy_diff("player_valuations")

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    pandas        7  421564
1       dbt        9  404811

Column Summary
--------------

Number of columns in common: 7
Number of columns in pandas but not in dbt: 0
Number of columns in dbt but not in pandas: 2

Row Summary
-----------

Matched on: player_id, date
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 401,307
Number of rows in pandas but not in dbt: 20,257
Number of rows in dbt but not in pandas: 3,504

Number of rows with some compared columns unequal: 401,307
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 4
Number of columns compared with all values equal: 3
Total number of values which compare unequal: 458,893

Columns with Unequal Values or Types
------------------------------------

                                Column pandas dtype dbt dtype  # Unequal   Max Diff  # Null Diff
1                      current_club_id        int64     int64      39421    68602.0            0
0                             datetime       object    object     401307        0.0            0
2                  market_value_in_eur        int64     int64         30  5950000.0            0
3  player_club_domestic_competition_id       object    object      18135        0.0            0

Sample Rows with Unequal Values
-------------------------------

        player_id        date datetime (pandas)       datetime (dbt)
343873     480116  2021-06-30        2021-06-30  2021-06-30 00:00:00
126998     200320  2018-12-27        2018-12-27  2018-12-27 00:00:00
161084     276567  2018-02-03        2018-02-03  2018-02-03 00:00:00
133427      26486  2014-01-20        2014-01-20  2014-01-20 00:00:00
245341     176990  2020-04-08        2020-04-08  2020-04-08 00:00:00
3498         3531  2005-03-29        2005-03-29  2005-03-29 00:00:00
9223         1841  2006-06-07        2006-06-07  2006-06-07 00:00:00
170909      52893  2017-06-08        2017-06-08  2017-06-08 00:00:00
78250        7501  2008-07-16        2008-07-16  2008-07-16 00:00:00
167810      47065  2015-01-07        2015-01-07  2015-01-07 00:00:00

        player_id        date  current_club_id (pandas)  current_club_id (dbt)
110318      72687  2009-08-21                     820.0                 4750.0
282650     159718  2020-12-29                    2441.0                 2698.0
130566      41261  2016-07-13                     273.0                  524.0
219648     284270  2021-06-16                      89.0                   18.0
254348     406560  2022-10-27                      31.0                  350.0
410510      64339  2013-01-11                    1075.0                  294.0
132852      46991  2016-02-24                     979.0                 8024.0
92678       25758  2017-03-20                    1421.0                  339.0
409897     125781  2009-09-04                      13.0                  131.0
105810      55512  2015-06-17                     105.0                  354.0

        player_id        date  market_value_in_eur (pandas)  market_value_in_eur (dbt)
276173     521127  2022-10-27                     4099999.0                  4100000.0
130491      17179  2009-12-22                     4099999.0                  4100000.0
255817      26065  2004-10-12                       50000.0                  2500000.0
122481       7476  2007-04-25                    22300000.0                 22299999.0
27223        9915  2012-06-19                     8199999.0                  8200000.0
85012       30687  2009-05-18                     4099999.0                  4100000.0
2750        55932  2007-10-07                     2049999.0                  2050000.0
251805       4360  2006-06-14                    25700000.0                 25700001.0
260958      34393  2007-02-10                     4099999.0                  4100000.0
46320       39073  2011-09-21                     4099999.0                  4100000.0

        player_id        date player_club_domestic_competition_id (pandas) player_club_domestic_competition_id (dbt)
61717        5315  2011-07-20                                          SC1                                       GR1
201036     258188  2016-02-09                                          SC1                                       GB1
390941      88721  2018-04-04                                          NL1                                       TR1
369619     485965  2022-03-23                                           L1                                       FR1
385947     500067  2019-08-01                                           L1                                       RU1
219974     120610  2014-01-13                                          FR1                                       TR1
417427      40433  2011-06-21                                          FR1                                       IT1
404541     446491  2017-01-21                                          BE1                                       IT1
420162     288253  2019-06-12                                          PO1                                        L1
404430     174094  2019-03-07                                          FR1                                       GB1

Sample Rows Only in pandas (First 10 Columns)
---------------------------------------------

              date    datetime    dateweek  player_id  current_club_id  market_value_in_eur player_club_domestic_competition_id
216521  2022-05-13  2022-05-13  2022-05-09     485585            631.0            5000000.0                                 GB1
119927  2014-03-28  2014-03-28  2014-03-24      63482              3.0              25000.0                                  L1
222918  2022-02-24  2022-02-24  2022-02-21     484362            306.0             250000.0                                 NL1
125846  2016-03-14  2016-03-14  2016-03-14     120192            192.0             500000.0                                 NL1
408924  2019-06-17  2019-06-17  2019-06-17     468309            366.0             100000.0                                 ES1
215417  2018-06-28  2018-06-28  2018-06-25     205758          23611.0             150000.0                                UKR1
379599  2019-12-07  2019-12-07  2019-12-02     321178            202.0             500000.0                                 NL1
387439  2021-02-23  2021-02-23  2021-02-22     687630            968.0              25000.0                                 BE1
131267  2022-06-23  2022-06-23  2022-06-20     264176             58.0             225000.0                                 BE1
105542  2012-01-20  2012-01-20  2012-01-16     103064            105.0             175000.0                                  L1

Sample Rows Only in dbt (First 10 Columns)
------------------------------------------

        player_id  last_season             datetime        date    dateweek  market_value_in_eur    n  current_club_id player_club_domestic_competition_id
422455     534482       2017.0  2023-02-27 00:00:00  2023-02-27  2023-02-27             175000.0  1.0          21957.0                                 GR1
422894      58602       2021.0  2023-04-03 00:00:00  2023-04-03  2023-04-03              50000.0  1.0           3205.0                                 TR1
424059     464535       2020.0  2023-02-27 00:00:00  2023-02-27  2023-02-27             300000.0  1.0           3999.0                                 GR1
423056     164105       2012.0  2023-02-06 00:00:00  2023-02-06  2023-02-06              75000.0  1.0           2921.0                                 IT1
422205     586527       2021.0  2023-02-27 00:00:00  2023-02-27  2023-02-27             175000.0  1.0           6418.0                                 GR1
424312     700034       2020.0  2023-04-03 00:00:00  2023-04-03  2023-04-03             250000.0  1.0             36.0                                 TR1
423545     393451       2021.0  2023-02-27 00:00:00  2023-02-27  2023-02-27             175000.0  1.0            441.0                                 GR1
422416     498862       2021.0  2023-03-31 00:00:00  2023-03-31  2023-03-27            4000000.0  1.0           3057.0                                 BE1
424733     640686       2021.0  2023-02-27 00:00:00  2023-02-27  2023-02-27             175000.0  1.0            653.0                                 GR1
424907     334238       2018.0  2023-03-30 00:00:00  2023-03-30  2023-03-27             125000.0  1.0             33.0                                  L1

In [6]:
show_schema_diff("player_valuations")

set()