In [4]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [5]:
import pandas as pd
import datacompy

VALIDATIONS = {
    "players": {
        "joining_keys": ["player_id"]
    },
    "player_valuations": {
        "joining_keys": ["player_id", "date"]
    },
    "games": {
        "joining_keys": ["game_id"]
    }
}

PROJECTPATH = "/Users/dcereijo/transfermarkt-datasets"

OLDPATH = f"{PROJECTPATH}/data/prep"
NEWPATH = f"{PROJECTPATH}/data/prep_new"

def load_old(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{OLDPATH}/{asset_name}.csv"
    )

def load_new(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{NEWPATH}/{asset_name}.csv.gz"
    )

def show_datacompy_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    comparison = datacompy.Compare(
        df1=old,
        df2=new,
        df1_name="pandas",
        df2_name="dbt",
        join_columns=VALIDATIONS[asset_name]["joining_keys"]
    )

    print(comparison.report())

def show_schema_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    print(set(old.columns.values) - set(new.columns.values))

In [6]:
show_datacompy_diff("players")

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    pandas       23  28503
1       dbt       23  27929

Column Summary
--------------

Number of columns in common: 23
Number of columns in pandas but not in dbt: 0
Number of columns in dbt but not in pandas: 0

Row Summary
-----------

Matched on: player_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 27,870
Number of rows in pandas but not in dbt: 633
Number of rows in dbt but not in pandas: 59

Number of rows with some compared columns unequal: 27,867
Number of rows with all compared columns equal: 3

Column Comparison
-----------------

Number of columns compared with some values unequal: 22
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 114,962

Columns with Unequal Values or Types
------------------------------------

                                  Column pandas dtype dbt dtype  # Unequal    Max Diff  # Null Diff
13                            agent_name       object    object       4601         0.0         4035
5                          city_of_birth       object    object      26148         0.0           67
14              contract_expiration_date       object    object      17967         0.0         1528
4                       country_of_birth       object    object         97         0.0           69
3                 country_of_citizenship       object    object         50         0.0            0
15  current_club_domestic_competition_id       object    object        228         0.0            0
1                        current_club_id        int64     int64        610     68602.0            0
2                      current_club_name       object    object      23745         0.0         9176
6                          date_of_birth       object    object         81         0.0           11
16                            first_name       object    object        187         0.0          107
9                                   foot       object    object      25904         0.0          148
10                          height_in_cm        int64   float64       2059       206.0         1645
12           highest_market_value_in_eur      float64   float64        496  11500000.0           43
19                             image_url       object    object       1147         0.0            0
17                             last_name       object    object        144         0.0            0
20                           last_season        int64     int64       1163         8.0            0
11                   market_value_in_eur      float64   float64       4120   8000000.0         1768
0                                   name       object    object        153         0.0            0
18                           player_code       object    object        139         0.0            0
7                               position       object    object       2137         0.0            0
8                           sub_position       object    object       3647         0.0         3233
21                                   url       object    object        139         0.0            0

Sample Rows with Unequal Values
-------------------------------

       player_id     name (pandas)               name (dbt)
21213     239044     Ulrik Jenssen  Ulrik Yttergard Jenssen
1146       44325     Dmitri Molosh           Dmitriy Molosh
21446     719646   Bernardo Fontes                 Bernardo
15566     348768  Maks Juraj Celic               Maks Celic
3883      143794       Lucas Rocha                    Lucão
21441     657385  Guilherme Soares                Guilherme
13442     329393    João Rodrigues                   Tarzan
10819     212260    Dmitri Korobov          Dmitriy Korobov
12944      15083  Dmitri Torbinski        Dmitriy Torbinski
20176     633645  Matthew Connelly           Matty Connelly

       player_id  current_club_id (pandas)  current_club_id (dbt)
2666       19721                     984.0                  338.0
5801        5893                     862.0                  410.0
16959     312239                    1237.0                   58.0
15289      75116                    3329.0                 3325.0
4793      150076                     204.0                 1184.0
8786      147265                     354.0                 3508.0
3973       83696                    5572.0                21957.0
15018     134657                    1268.0                  603.0
14617     251892                    1244.0                  368.0
10617      44675                    1108.0                  512.0

       player_id current_club_name (pandas) current_club_name (dbt)
13293      49802             Rsc Anderlecht          RSC Anderlecht
26571     140808                   Kaa Gent                KAA Gent
4348       99923            Cagliari Calcio             Inter Milan
20811     563392                  Kas Eupen               KAS Eupen
2664       27505       West Bromwich Albion                     NaN
6847        7451                 Fc Arsenal              Arsenal FC
9988      348522          Paok Thessaloniki       PAOK Thessaloniki
2217       39917              Chievo Verona                     NaN
19346      44162          Besiktas Istanbul             Besiktas JK
13841      33031                  Volos Nps               Volos NPS

       player_id country_of_citizenship (pandas) country_of_citizenship (dbt)
16688     186282                     Netherlands                     Suriname
25294     520857                         Ireland                      Germany
5255        5461                   French Guiana                       France
6998      320825                     Netherlands                     Suriname
13423     326399                        Cameroon                      Germany
20301     745461                          Canada                        Italy
21696     104503                          Russia                      Belarus
27155     646750                        Colombia                        Spain
14931     187298                     Netherlands                     Suriname
13063     317739                         Germany                       Poland

       player_id country_of_birth (pandas) country_of_birth (dbt)
12999     312891                       NaN                 Russia
16978     504856                       NaN                England
19958     406556                   England                 Canada
19570     649029                       NaN                Senegal
8829       56510                       DDR     East Germany (GDR)
19866     511552                       NaN                  Wales
15679     441477                       NaN              Argentina
19965     724529                       NaN                Ireland
11482     288655                       NaN                Nigeria
19351     873445                       NaN                 Turkey

       player_id city_of_birth (pandas) city_of_birth (dbt)
12700     284177    Bergisch Gladbach     Bergisch Gladbach
533         5418               Douala                Douala
11008      48164             Novi Sad              Novi Sad
17931     348769              Sarandi               Sarandi
3497      290780       Rio de Janeiro        Rio de Janeiro
14007     605634              Malatya               Malatya
17134     290533                 Sète                  Sète
16893     339339             Den Haag              Den Haag
19835     651388                 Sinj                  Sinj
7022       19917            Roeselare             Roeselare

       player_id date_of_birth (pandas) date_of_birth (dbt)
4246      265590             1992-05-28          1992-07-28
3751      249961             1993-09-29          1993-09-26
17399     830891             2001-06-17          2001-06-07
26012     540271             1999-03-13          1999-03-07
13817      55879             1985-08-16          1984-08-16
14095     396516             1997-08-11          1997-11-08
10163     346270             1997-07-04          1997-03-07
5483        3942             1984-07-11                 NaN
2136       49681             1987-11-07                 NaN
14674     178187             1992-10-14          1992-10-10

       player_id position (pandas) position (dbt)
4330      284486            Attack        Missing
25517     671675            Attack       Midfield
21755     683333            Attack       Midfield
23405     129513            Attack       Midfield
10119     448672            Attack       Midfield
3139      303415            Attack       Midfield
10425     464142            Attack        Missing
26109     592400            Attack       Midfield
17067     486100          Defender       Midfield
24949     190333            Attack       Midfield

       player_id sub_position (pandas) sub_position (dbt)
20026      13572                   NaN         Goalkeeper
25350     107775                   NaN         Goalkeeper
22213     465955                   NaN         Goalkeeper
6273      148371                   NaN         Goalkeeper
2979      205865                   NaN         Goalkeeper
24447     671916                   NaN         Goalkeeper
26440      45672                   NaN         Goalkeeper
27113     480958                   NaN         Goalkeeper
3710      212233                   NaN         Goalkeeper
24198     325179                   NaN         Goalkeeper

       player_id foot (pandas) foot (dbt)
8467      163531         Right        NaN
8957      170962         Right      right
27410     627939         Right      right
1543      257665         Right      right
23942      35865         Right      right
10290     468929         Right      right
5541      129593         Right      right
6723       40937           NaN       left
14051      30638         Right      right
22885      83560         Right      right

       player_id  height_in_cm (pandas)  height_in_cm (dbt)
16970     557015                    0.0                 NaN
19755     906004                    0.0                 NaN
24444     257324                  185.0               188.0
17899     426648                  177.0                 NaN
3085        2999                    0.0                 NaN
12001     584434                    0.0                 NaN
20598     720532                    0.0                 NaN
16546     869955                    0.0                 NaN
23116     988710                    0.0               182.0
20527     488298                    0.0                 NaN

       player_id  market_value_in_eur (pandas)  market_value_in_eur (dbt)
18939     231712                      475000.0                   800000.0
1725       88614                       50000.0                        NaN
5834       70132                       75000.0                        NaN
11992      33357                      250000.0                        NaN
12388     311745                       10000.0                        NaN
9644      585418                       25000.0                        NaN
9922       22382                      100000.0                        NaN
9121       97013                      300000.0                   250000.0
5509       24237                     1000000.0                        NaN
16059      28728                      100000.0                    75000.0

       player_id  highest_market_value_in_eur (pandas)  highest_market_value_in_eur (dbt)
19635     936824                                   NaN                            10000.0
18270     497143                              300000.0                           400000.0
15081     523228                              350000.0                           500000.0
20460     279133                               75000.0                           100000.0
17812     401639                              600000.0                           800000.0
11788     188889                             2800000.0                          4500000.0
16667     258898                              500000.0                           600000.0
14806     373939                              600000.0                           700000.0
13220     194433                              475000.0                           600000.0
13496     606716                             1500000.0                          1800000.0

       player_id             agent_name (pandas) agent_name (dbt)
9469       42303          NINE Sports Management              NaN
24114     364234                      Playeleven            LF360
9773      205809           HCM Sports Management              NaN
18136     522669                      TOP Agency              NaN
15515     410859        Peleus Sports Management              NaN
7972      130149        Elite Players Management              NaN
27311     537182     P&P Sport Management S.A.M.              NaN
25034     290405  football scouting and transfer              NaN
15837     331087                    PLG Scotland              NaN
7850      385400                    Osman Sahan          Start 11

       player_id contract_expiration_date (pandas) contract_expiration_date (dbt)
8111      292350                        2023-06-30            2023-06-30 00:00:00
26545     548193                        2025-06-30            2025-06-30 00:00:00
8600      296681                        2024-06-30            2023-06-30 00:00:00
27184     615350                        2023-06-30            2023-06-30 00:00:00
14932     342967                        2025-06-30            2025-06-30 00:00:00
23258     300340                        2023-06-30            2023-06-30 00:00:00
3245       50135                        2023-06-30            2023-06-30 00:00:00
13048      49462                               NaN            2023-12-31 00:00:00
27030     172153                        2024-06-30            2024-06-30 00:00:00
7961      328965                        2023-06-30            2023-06-30 00:00:00

       player_id current_club_domestic_competition_id (pandas) current_club_domestic_competition_id (dbt)
3320       18416                                           ES1                                        BE1
19690     337787                                           SC1                                        GB1
6313       14940                                           GR1                                        ES1
11176     124560                                           ES1                                        IT1
4220       45889                                           IT1                                        PO1
21149     659517                                           PO1                                        FR1
21159     798927                                           PO1                                        FR1
15015     226074                                           NL1                                        IT1
15022      39665                                           NL1                                        TR1
3425      213875                                           ES1                                        PO1

       player_id first_name (pandas) first_name (dbt)
7048      147396               Bruno              NaN
2215        5938              Wálter           Walter
19546     540186              Danylo           Daniil
9671      213841                 NaN          Matheus
13027     392678              Dmitri          Dmitriy
10398      41335               Ruben  Ruben Yttergard
18658     144752            Fernando              NaN
8614        9646              Dmitri          Dmitriy
11245     264718              Rafael              NaN
15430     588627               Lucas              NaN

       player_id last_name (pandas) last_name (dbt)
15263     606038       Pedro Mateus          Mateus
15428     425462              Vizeu    Felipe Vizeu
12308     108468   Tiedemann Hansen       Tiedemann
17863     269467            Martins   César Martins
16592     615930              Matei            Ilie
21882     273438            Barbosa  Danilo Barbosa
13451     666151     Marcelo Araújo          Araújo
26922     238407            Sörloth         Sørloth
11051     258026   Francisco Afonso          Afonso
9018      242808              Gedoz    Felipe Gedoz

       player_id player_code (pandas)  player_code (dbt)
13027     392678         dmitri-weber      dmitriy-weber
5505      104514         georgi-nurov      georgiy-nurov
3902      256859     dmitri-kuzmichev  dmitriy-kuzmichev
20640     706138       javier-llabres       javi-llabres
11297      48586     dmitri-belorukov  dmitriy-belorukov
13620     490365        saveli-kozlov     saveliy-kozlov
11052     167383      mateus-da-silva       mateus-silva
19546     540186     danylo-kondrakov   daniil-kondrakov
21905     349826           jean-irmer               jean
15087      33710          jose-semedo             semedo

       player_id                                                                  image_url (pandas)                                                                     image_url (dbt)
8039       37287    https://img.a.transfermarkt.technology/portrait/header/37287-1615027080.jpg?lm=1    https://img.a.transfermarkt.technology/portrait/header/37287-1470738981.jpg?lm=1
20438     548803   https://img.a.transfermarkt.technology/portrait/header/548803-1659519448.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/548803-1682829811.jpg?lm=1
15261      18759  https://img.a.transfermarkt.technology/portrait/header/s_18759_200_2012_1.jpg?lm=1    https://img.a.transfermarkt.technology/portrait/header/18759-1681326663.jpg?lm=1
14527     187530   https://img.a.transfermarkt.technology/portrait/header/187530-1493385344.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/187530-1674492138.jpg?lm=1
9266      389564             https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/389564-1678606073.jpeg?lm=1
15239     342148   https://img.a.transfermarkt.technology/portrait/header/342148-1614584808.png?lm=1   https://img.a.transfermarkt.technology/portrait/header/342148-1675845056.png?lm=1
15806     320915   https://img.a.transfermarkt.technology/portrait/header/320915-1516962769.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/320915-1678819340.jpg?lm=1
18278     310662   https://img.a.transfermarkt.technology/portrait/header/310662-1657045585.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/310662-1682874836.jpg?lm=1
624         8669             https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1     https://img.a.transfermarkt.technology/portrait/header/8669-1674562324.jpg?lm=1
964         9832   https://img.a.transfermarkt.technology/portrait/header/s_9832_631_2009_1.jpg?lm=1     https://img.a.transfermarkt.technology/portrait/header/9832-1683041290.jpg?lm=1

       player_id  last_season (pandas)  last_season (dbt)
15256     210146                2019.0             2018.0
14007     605634                2019.0             2018.0
14899     193877                2019.0             2018.0
14329      85922                2019.0             2018.0
14225     462840                2019.0             2018.0
15164     352558                2019.0             2015.0
1419       25398                2012.0             2013.0
3425      213875                2013.0             2017.0
15415      67925                2019.0             2018.0
3981       13063                2014.0             2013.0

       player_id                                                               url (pandas)                                                             url (dbt)

In [ ]:
show_schema_diff("games")

set()

In [5]:
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()
td.load_assets()

appearances_df = td.assets["cur_appearances"].prep_df
games_df = td.assets["cur_games"].prep_df
players_df = td.assets["cur_players"].prep_df

In [6]:
len(players_df)

26895