In [1]:
import os
import sys

# retrieve local copies of raw and prepared data from dvc
# checkout the readme for instructions about how to gain access

# os.system("dvc pull")

home = os.path.expanduser("~/transfermarkt-datasets") 
os.chdir(home)

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [11]:
import pandas as pd
import datacompy

VALIDATIONS = {
    "players": {
        "joining_keys": ["player_id"]
    },
    "player_valuations": {
        "joining_keys": ["player_id", "date"]
    },
    "games": {
        "joining_keys": ["game_id"]
    }
}

PROJECTPATH = "/Users/dcereijo/transfermarkt-datasets"

OLDPATH = f"{PROJECTPATH}/data/prep"
NEWPATH = f"{PROJECTPATH}/data/prep_new"

def load_old(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{OLDPATH}/{asset_name}.csv"
    )

def load_new(asset_name: str) -> pd.DataFrame:
    return pd.read_csv(
        f"{NEWPATH}/{asset_name}.csv.gz"
    )

def show_datacompy_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    comparison = datacompy.Compare(
        df1=old,
        df2=new,
        df1_name="pandas",
        df2_name="dbt",
        join_columns=VALIDATIONS[asset_name]["joining_keys"]
    )

    print(comparison.report())

def show_schema_diff(asset_name: str):

    old = load_old(asset_name)
    new = load_new(asset_name)

    print(set(old.columns.values) - set(new.columns.values))

In [14]:
show_datacompy_diff("players")

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    pandas       23  28503
1       dbt       23  26895

Column Summary
--------------

Number of columns in common: 23
Number of columns in pandas but not in dbt: 0
Number of columns in dbt but not in pandas: 0

Row Summary
-----------

Matched on: player_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 26,840
Number of rows in pandas but not in dbt: 1,663
Number of rows in dbt but not in pandas: 55

Number of rows with some compared columns unequal: 26,839
Number of rows with all compared columns equal: 1

Column Comparison
-----------------

Number of columns compared with some values unequal: 22
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 112,821

Columns with Unequal Values or Types
------------------------------------

                                  Column pandas dtype dbt dtype  # Unequal    Max Diff  # Null Diff
13                            agent_name       object    object       4448         0.0         3901
5                          city_of_birth       object    object      25208         0.0           67
14              contract_expiration_date       object    object      17463         0.0         1436
4                       country_of_birth       object    object         97         0.0           69
3                 country_of_citizenship       object    object         48         0.0            0
15  current_club_domestic_competition_id       object    object        400         0.0            0
1                        current_club_id        int64     int64       1044     68602.0            0
2                      current_club_name       object    object      22835         0.0         8631
6                          date_of_birth       object    object         72         0.0            9
16                            first_name       object    object        174         0.0           96
9                                   foot       object    object      24992         0.0          143
10                          height_in_cm        int64   float64       1949       206.0         1551
12           highest_market_value_in_eur      float64   float64        476  11500000.0           39
19                             image_url       object    object       1101         0.0            0
17                             last_name       object    object        132         0.0            0
20                           last_season        int64     int64       2450         8.0            0
11                   market_value_in_eur      float64   float64       3936   8000000.0         1663
0                                   name       object    object        150         0.0            0
18                           player_code       object    object        136         0.0            0
7                               position       object    object       2051         0.0            0
8                           sub_position       object    object       3523         0.0         3121
21                                   url       object    object        136         0.0            0

Sample Rows with Unequal Values
-------------------------------

       player_id              name (pandas)             name (dbt)
20174     258506            Sondre Johansen         Sondre Solholm
5065       75420             Edivaldo Rojas                Bolívia
928        39089                    Furtado           José Furtado
6978      263961               Yuri Zavezen          Yuriy Zavezen
17695      35934          Slobodan Rajkovic      Slobodan Rajković
21419     666977                Aliou Balde            Aliou Baldé
12944      15083           Dmitri Torbinski      Dmitriy Torbinski
7501      175601         Rafael Leme Amorim          Rafael Amorim
19250     639712      Étienne Youte Kinkoue  Étienne Youté Kinkoué
9881      504593  Saado Abdel Salam Fouflia      Saado Abdel Salam

       player_id  current_club_id (pandas)  current_club_id (dbt)
1817       17555                    3302.0                68608.0
7310      251914                     987.0                 1003.0
14926     268176                     618.0                   40.0
13533     159239                    1123.0                  127.0
7674        5470                       6.0                  126.0
14560     122317                   23611.0                 6992.0
9098       70767                     150.0                  339.0
8586       84907                     468.0                  133.0
21254     276002                    1304.0                  385.0
9143      199099                     979.0                 2424.0

       player_id current_club_name (pandas) current_club_name (dbt)
12790      58993               Cardiff City                     NaN
22110     537570                 Ac Horsens              AC Horsens
10049      96444                Aok Kerkyra                     NaN
16118     375391                  Genua Cfc                     NaN
1700       98122     Volga Nizhniy Novgorod                     NaN
21505     500762            Vitesse Arnheim          Vitesse Arnhem
27210     364857            Montpellier Hsc         Montpellier HSC
4042       69412              Kilmarnock Fc           Kilmarnock FC
10744      51452                 Stoke City                     NaN
23859     494679               Pas Giannina            PAS Giannina

       player_id country_of_citizenship (pandas) country_of_citizenship (dbt)
15762     654420                          France                      Morocco
17600     569361                          France                 Burkina Faso
19780     461582                          France                         Mali
18339     806496                          France                       Guinea
18409     855160                   Cote d'Ivoire                       France
21494     596148                     Netherlands                     Suriname
16916     778540                     Netherlands                      Curacao
27155     646750                        Colombia                        Spain
13423     326399                        Cameroon                      Germany
11081     351978                        Portugal                Guinea-Bissau

       player_id country_of_birth (pandas) country_of_birth (dbt)
19965     724529                       NaN                Ireland
6636       32622                       DDR     East Germany (GDR)
13852     608739                       NaN                 France
602        58954                       NaN                  UdSSR
5454       16743                       DDR     East Germany (GDR)
21545     334802                       NaN         Czech Republic
21048      35208                       DDR     East Germany (GDR)
18350     942083                       NaN                 France
104        24232                       DDR     East Germany (GDR)
18159     657863                       NaN                England

       player_id city_of_birth (pandas) city_of_birth (dbt)
18732      79893          Saint-Denis           Saint-Denis
15692     594561        Campinas (SP)         Campinas (SP)
10572     391346           El Saucejo            El Saucejo
21199      88968            Rotterdam             Rotterdam
5004      258884            Liverpool             Liverpool
11765      55046               Anyama                Anyama
18081     353860              Denizli               Denizli
7749      108636                Abuja                 Abuja
7176      351808              Estoril               Estoril
27903     504087            Famalicão             Famalicão

       player_id date_of_birth (pandas) date_of_birth (dbt)
11347     526167             1999-01-19          1999-11-19
5927       61936             1985-09-24          1985-04-24
10163     346270             1997-07-04          1997-03-07
18703     226169             1996-11-29          1996-11-28
1014       83188             1991-02-04                 NaN
1261      199377             1995-04-27          1995-02-27
25782     235540             1994-04-23          1994-03-23
13770      51984             1988-08-18          1988-06-18
19787     572810             2000-07-08          2000-08-07
5483        3942             1984-07-11                 NaN

       player_id position (pandas) position (dbt)
1176        5399            Attack       Midfield
27469     810895            Attack       Midfield
10742      34838            Attack       Midfield
19251     665392            Attack       Midfield
10474     147266            Attack       Midfield
3800      193585          Midfield        Missing
6329       39003            Attack       Midfield
8862      199480            Attack       Midfield
3338       44687            Attack       Midfield
9552      344802            Attack       Midfield

       player_id sub_position (pandas) sub_position (dbt)
11645     394875                   NaN   Central Midfield
19831     258520                   NaN         Goalkeeper
21674     655461                   NaN         Goalkeeper
4587       91698                   NaN         Goalkeeper
22946     330871                   NaN         Goalkeeper
4020       58919                   NaN         Goalkeeper
98         49022                   NaN         Goalkeeper
26317     463601                   NaN         Goalkeeper
20424     698840                   NaN         Goalkeeper
8952       51035                   NaN         Goalkeeper

       player_id foot (pandas) foot (dbt)
19708     647281         Right      right
18918     324192          Left       left
27491     701979          Left       left
3606       42399         Right      right
6248       95314         Right      right
8414      122011         Right      right
1469      175773          Left       left
8000       44717          Left       left
3839      331571         Right      right
25305     314398          Left       left

       player_id  height_in_cm (pandas)  height_in_cm (dbt)
2184      292802                    0.0                 NaN
386       159773                  178.0               179.0
12990     136397                  181.0                 NaN
23523     310708                    0.0                 NaN
19949     177065                  180.0               181.0
18497     704711                    0.0                 NaN
5354        4208                    0.0                 NaN
12656     562060                    0.0                 NaN
11514     307014                    0.0                 NaN
11170     347038                    0.0                 NaN

       player_id  market_value_in_eur (pandas)  market_value_in_eur (dbt)
12330     337284                     3000000.0                  2000000.0
3719       73980                      350000.0                        NaN
19376     799924                       50000.0                        NaN
21447     474949                       50000.0                        NaN
2004      127220                       10000.0                        NaN
3875      267556                      450000.0                   300000.0
17364     265569                      750000.0                   800000.0
12160      96813                      250000.0                   200000.0
15164     352558                      200000.0                        NaN
1150       25013                      200000.0                        NaN

       player_id  highest_market_value_in_eur (pandas)  highest_market_value_in_eur (dbt)
16941     548934                              300000.0                           400000.0
11074     349570                              725000.0                          1200000.0
20265     614811                                   NaN                           250000.0
21183     376675                              400000.0                           500000.0
17046     400644                              500000.0                           550000.0
19042     704260                               25000.0                            50000.0
21198     577455                              500000.0                           650000.0
19998     403564                              100000.0                           175000.0
21003     631002                             1500000.0                          2000000.0
17023     364827                             1500000.0                          1800000.0

       player_id          agent_name (pandas)   agent_name (dbt)
21159     798927                          STA               TTMA
20139     344830                          NaN              ROGON
7565      337310                 Sportlex Srl                NaN
23176      45671  Senol Tosun Sportmanagement                NaN
15482     521997                          NaN     Ivan Ishchenko
10089      46162       Supervision Management                NaN
19853     444211                          SEG                NaN
15703     204347                         TTMA    Alhadaaf Sports
9612      223920                  CLS Mundial  Jonathan Chalkias
19050      12563            Carlo Pallavicino                NaN

       player_id contract_expiration_date (pandas) contract_expiration_date (dbt)
6714      215784                        2023-06-30            2023-06-30 00:00:00
11231     187296                        2023-06-30            2023-06-30 00:00:00
15724     593939                        2023-06-30            2023-06-30 00:00:00
3735      322524                               NaN            2023-06-30 00:00:00
13544      65255                        2023-06-30                            NaN
4365       67704                               NaN            2023-06-30 00:00:00
14449     311351                        2023-12-31            2025-12-31 00:00:00
15412     111811                        2023-06-30            2023-06-30 00:00:00
18234     832896                        2023-05-31            2023-05-31 00:00:00
23955     586756                        2027-06-30            2027-06-30 00:00:00

       player_id current_club_domestic_competition_id (pandas) current_club_domestic_competition_id (dbt)
8598       27245                                           BE1                                       UKR1
18705     228940                                           TR1                                        PO1
9129       33831                                           PO1                                        FR1
3108        4592                                           NL1                                        GB1
6692      122582                                           FR1                                        PO1
7817      247189                                           TR1                                        ES1
1986       12351                                           IT1                                        PO1
8866       53309                                           BE1                                        ES1
9009       29311                                           FR1                                        IT1
8956       44417                                           FR1                                        TR1

       player_id first_name (pandas) first_name (dbt)
15428     425462              Felipe              NaN
13027     392678              Dmitri          Dmitriy
9881      504593         Saado Abdel            Saado
10826     385257              Evgeni          Evgeniy
21306      64352        Konstantinos           Kostas
19236     507310       Adrian Nilsen           Adrian
5210      210088                 NaN          Gabriel
8496      106617              Dmitri          Dmitriy
1808      297017          Kostiantyn       Kostyantyn
13442     329393                João              NaN

       player_id last_name (pandas)  last_name (dbt)
9966      342168             Labrou          Lamprou
3479       14149    Cláudio Pitbull          Pitbull
15674     525962                Tie              Tié
21719     288415             Jardim       Léo Jardim
166        18592         José Pedro         Zé Pedro
21419     666977              Balde            Baldé
7140       70724            Antônio  Rodrigo Antônio
11059     292353     Victor Massaia          Massaia
19141     599663          Moumbagna             Pemi
4293      269861           Oliveira  Rennan Oliveira

       player_id    player_code (pandas)     player_code (dbt)
11052     167383         mateus-da-silva          mateus-silva
9907      248483  christopher-ikonomidis      chris-ikonomidis
16803     728380    andriy-vyskrebentsev  andrey-vyskrebentsev
1146       44325           dmitri-molosh        dmitriy-molosh
15245     290269                erivaldo                 eritm
17942     538253          simao-bertelli                 simao
12960     147072         yuri-nesterenko      yuriy-nesterenko
21353     479640             edu-ribeiro                 edutm
17996     641131              juan-villa     juan-felipe-villa
2858       55338                 willian        willian-bigode

       player_id                                                                  image_url (pandas)                                                                    image_url (dbt)
19572     366446   https://img.a.transfermarkt.technology/portrait/header/366446-1569866636.png?lm=1  https://img.a.transfermarkt.technology/portrait/header/366446-1678996856.jpg?lm=1
9893      401163   https://img.a.transfermarkt.technology/portrait/header/401163-1607622425.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/401163-1676731639.jpg?lm=1
7035      207931   https://img.a.transfermarkt.technology/portrait/header/207931-1591723072.png?lm=1  https://img.a.transfermarkt.technology/portrait/header/207931-1681281044.png?lm=1
1028       44332    https://img.a.transfermarkt.technology/portrait/header/44332-1489710309.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/44332-1676992570.png?lm=1
18884     883552             https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/883552-1674123416.png?lm=1
19226     360517   https://img.a.transfermarkt.technology/portrait/header/360517-1447860162.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/360517-1679443006.jpg?lm=1
18781     496357  https://img.a.transfermarkt.technology/portrait/header/496357-1631406932.jpeg?lm=1  https://img.a.transfermarkt.technology/portrait/header/496357-1669648785.png?lm=1
18347     912601             https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/912601-1679523113.jpg?lm=1
13350     187896   https://img.a.transfermarkt.technology/portrait/header/187896-1655492373.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/187896-1678215060.jpg?lm=1
16005     404851   https://img.a.transfermarkt.technology/portrait/header/404851-1597957249.png?lm=1  https://img.a.transfermarkt.technology/portrait/header/404851-1673415187.png?lm=1

       player_id  last_season (pandas)  last_season (dbt)
14681     238486                2019.0             2018.0
14561     402874                2019.0             2018.0
8258       14736                2016.0             2015.0
8560       37941                2016.0             2015.0
13923     315870                2019.0             2018.0
8901      134098                2016.0             2013.0
14574     110860                2019.0             2018.0
7944       96734                2016.0             2015.0
15183     265136                2019.0             2017.0
13697       7096                2019.0             2017.0


In [6]:
show_schema_diff("games")

set()

In [3]:
td.assets

{}

In [5]:
from transfermarkt_datasets.core.dataset import Dataset

td = Dataset()
td.discover_assets()
td.load_assets()

appearances_df = td.assets["cur_appearances"].prep_df
games_df = td.assets["cur_games"].prep_df

In [6]:
len(games_df)

61538