In [6]:
import pandas as pd

validate_file = "players"
joining_keys = ["player_id"]

old = pd.read_csv(f"/Users/dcereijo/transfermarkt-datasets/data/prep/{validate_file}.csv")
new = pd.read_csv(f"/Users/dcereijo/transfermarkt-datasets/data/prep_2/{validate_file}.csv")

In [7]:
import datacompy

In [8]:
comparison = datacompy.Compare(
    df1=old,
    df2=new,
    join_columns=joining_keys
)

In [9]:
print(comparison.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0       df1       23  28503
1       df2       20  27246

Column Summary
--------------

Number of columns in common: 20
Number of columns in df1 but not in df2: 3
Number of columns in df2 but not in df1: 0

Row Summary
-----------

Matched on: player_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 27,246
Number of rows in df1 but not in df2: 1,257
Number of rows in df2 but not in df1: 0

Number of rows with some compared columns unequal: 27,246
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 14
Number of columns compared with all values equal: 6
Total number of values which compare unequal: 82,017

Columns with Unequal Values or Types
------------------------------------

               Column df1 dtype df2 dtype  # Unequal  Max Diff  # Null Diff
9          agent_name    object    object         43       0.0           43
3       city_of_birth    object    object          2       0.0            0
1     current_club_id     int64     int64          5    2791.0            0
2   current_club_name    object    object      23062       0.0         8807
4       date_of_birth    object    object          1       0.0            0
7                foot    object    object      25212       0.0            2
8        height_in_cm     int64   float64       1734     186.0         1691
12          image_url    object    object         11       0.0            0
10          last_name    object    object          1       0.0            0
0                name    object    object          1       0.0            0
11        player_code    object    object      26818       0.0        26817
5            position    object    object       1999       0.0            0
6        sub_position    object    object       3127       0.0         3125
13                url    object    object          1       0.0            0

Sample Rows with Unequal Values
-------------------------------

     player_id        name (df1)        name (df2)
897      31610  Sebastian Tyrała  Sebastian Tyrala

     player_id  current_club_id (df1)  current_club_id (df2)
429      22320                    130                 2921.0
222      20941                   1387                 2921.0
355      21954                    252                  862.0
216       6157                   1387                 2921.0
700      68826                    865                 2414.0

       player_id  current_club_name (df1) current_club_name (df2)
11753     457967           Apo Levadiakos          APO Levadiakos
16406     136431      Fenerbahce Istanbul              Fenerbahce
23342      96189                Volos Nps               Volos NPS
7039       56317  Sbv Excelsior Rotterdam     Excelsior Rotterdam
19858     565406           Fc Southampton          Southampton FC
4698       52199         Waasland Beveren                     NaN
26082     574501         Sv Zulte Waregem        SV Zulte Waregem
20813      80188                Kas Eupen               KAS Eupen
3250       15486              Fc Augsburg             FC Augsburg
24448      45601          Odense Boldklub                     NaN

     player_id city_of_birth (df1) city_of_birth (df2)
42      194620            Piräus             Piraeus
128     197154        Rio Branco          São Paulo

     player_id date_of_birth (df1) date_of_birth (df2)
340      24038          1979-08-13          1979-04-13

       player_id position (df1) position (df2)
20738     224691         Attack       Midfield
12612     387212         Attack       Midfield
24723     887137         Attack       Midfield
25624     717390         Attack       Midfield
5917      157536         Attack       Midfield
2844       91349         Attack       Midfield
20803     667966         Attack       Midfield
11908     170478         Attack       Midfield
19020      73846         Attack       Midfield
7304       71420       Defender        Missing

       player_id sub_position (df1) sub_position (df2)
17870     527026                NaN         Goalkeeper
9586      457873                NaN         Goalkeeper
10068     328704                NaN         Goalkeeper
23563     208166                NaN         Goalkeeper
11922     529595                NaN         Goalkeeper
20459     633754                NaN         Goalkeeper
13598     480135                NaN         Goalkeeper
7833       22285                NaN         Goalkeeper
12848     126705                NaN         Goalkeeper
15988     193861                NaN         Goalkeeper

       player_id foot (df1) foot (df2)
17925     331725      Right      right
27762     148928       Left       left
3212       12957      Right      right
12639     504350      Right      right
9631        7215      Right      right
10175     223779      Right      right
21000      97567      Right      right
2474        3366       Both       both
14503      29975       Left       left
14521     487428      Right      right

       player_id  height_in_cm (df1)  height_in_cm (df2)
10493     477238                   0                 NaN
19556     602486                   0                 NaN
11897     617866                   0                 NaN
2344       24282                   0                 NaN
2358      315412                   0                 NaN
20849     627277                   0                 NaN
6158      427511                   0                 NaN
17081     503765                   0                 NaN
9973       68847                   0                 NaN
19308     862085                   0                 NaN

     player_id              agent_name (df1) agent_name (df2)
51      238836        Delta Sport Management              NaN
948      56216      KICK OFF Consulting GmbH              NaN
347      15463        Global Sports Advisors              NaN
32       81876    Momentum Sports Management              NaN
337     271435   Starting 11 Football Agency              NaN
405       5936    Branchini Associati S.p.A.              NaN
401      21779   Studio Marrucco E Associati              NaN
744      22512  First Artist Scandinavia A/S              NaN
324      15165    WSM Marketing & Management              NaN
122     176912  ANTHONY FINNIGAN T/A PLAYERS              NaN

     player_id last_name (df1) last_name (df2)
897      31610          Tyrała          Tyrala

       player_id     player_code (df1) player_code (df2)
17846      59032   aleksandar-dragovic               NaN
12115     460757    francesco-semeraro               NaN
2750      244338  pelly-ruddock-mpanzu               NaN
9746      230058     ricardo-centurion               NaN
20980     579084         fabio-ferraro               NaN
12703     406889         pelle-boevink               NaN
21094     371174          diego-lainez               NaN
8768      200320        kevin-koubemba               NaN
7542      391337           berker-oncu               NaN
19787     572810            jaze-kabia               NaN

      player_id                                                                    image_url (df1)                                                                    image_url (df2)
447        9684            https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1    https://img.a.transfermarkt.technology/portrait/header/9684-1678385861.jpg?lm=1
951       85946   https://img.a.transfermarkt.technology/portrait/header/85946-1633072272.JPG?lm=1   https://img.a.transfermarkt.technology/portrait/header/85946-1674415590.JPG?lm=1
241      267025            https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1  https://img.a.transfermarkt.technology/portrait/header/267025-1680178096.jpg?lm=1
957       82113   https://img.a.transfermarkt.technology/portrait/header/82113-1647190071.png?lm=1   https://img.a.transfermarkt.technology/portrait/header/82113-1678036279.jpg?lm=1
1027      26502            https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/26502-1675349745.png?lm=1
181      172565  https://img.a.transfermarkt.technology/portrait/header/172565-1665481469.png?lm=1  https://img.a.transfermarkt.technology/portrait/header/172565-1640481194.png?lm=1
1028      44332   https://img.a.transfermarkt.technology/portrait/header/44332-1489710309.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/44332-1676992570.png?lm=1
327       42636            https://img.a.transfermarkt.technology/portrait/header/default.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/42636-1674687756.jpg?lm=1
489       54845   https://img.a.transfermarkt.technology/portrait/header/54845-1637345355.JPG?lm=1   https://img.a.transfermarkt.technology/portrait/header/54845-1676286602.JPG?lm=1
491       35805   https://img.a.transfermarkt.technology/portrait/header/35805-1593885424.jpg?lm=1   https://img.a.transfermarkt.technology/portrait/header/35805-1682625743.jpg?lm=1

     player_id                                                                   url (df1)                                                              url (df2)
897      31610  https://www.transfermarkt.co.uk/sebastian-tyra%C5%82a/profil/spieler/31610  https://www.transfermarkt.co.uk/sebastian-tyrala/profil/spieler/31610

Sample Rows Only in df1 (First 10 Columns)
------------------------------------------

      player_id                 name  current_club_id    current_club_name country_of_citizenship country_of_birth               city_of_birth date_of_birth    position        sub_position
930      163200   Sokratis Tsoukalas             2441            Aek Athen                 Greece           Greece                     Athen      1992-07-07    Defender          Right-Back
1448     214771           Tià Sastre              237         Rcd Mallorca                  Spain            Spain      Vilafranca de Bonany      1994-06-21    Midfield    Central Midfield
59        12746           Colin Nish              511            Dundee Fc               Scotland         Scotland                 Edinburgh      1981-03-07      Attack      Centre-Forward
421       57305        Marco Piscopo              410       Udinese Calcio                  Italy            Italy                   Gorizia      1994-03-09    Midfield    Central Midfield
1162     179689         Pavel Dronov              964  Zenit St Petersburg                 Russia           Russia            St. Petersburg      1993-03-22  Goalkeeper                 NaN
194       12387         Jacques Faty             2381            Sivasspor                Senegal           France  Villeneuve-Saint-Georges      1984-02-25    Defender         Centre-Back
1452     149244               Afonso             2990    Academica Coimbra                 Brazil           Brazil                    Maceió      1991-11-14      Attack      Centre-Forward
1672       3411          Pablo Aimar              294     Benfica Lissabon              Argentina        Argentina                Río Cuarto      1979-11-03      Attack  Attacking Midfield
746      193664  Kristoffer Sörensen             3426           Esbjerg Fb                Denmark              NaN                         NaN    1992-01-28    Defender         Centre-Back
575      199730     Claudio Andreoli              398            Lazio Rom                  Italy            Italy                      Roma      1994-04-01    Midfield                 NaN

In [10]:
set(old.columns.values) - set(new.columns.values)

{'contract_expiration_date',
 'highest_market_value_in_eur',
 'market_value_in_eur'}